# Exploring the data

Import pandas

In [8]:
import pandas as pd

Read the csv file

In [9]:
df = pd.read_csv("books.csv")

Extracting the top five rows

In [3]:
df.head()

,bookID,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.57,eng,652,2095690,27591,16-09-2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,eng,870,2153167,29221,09-01-2004,Scholastic Inc.
2,3,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,11-01-2003,Scholastic
3,4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.56,eng,435,2339585,36325,05-01-2004,Scholastic Inc.
4,5,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling-Mary GrandPré,4.78,eng,2690,41428,164,13-09-2004,Scholastic

List of all the attributes of the data

In [4]:
list(df)

['bookID',
 'title',
 'authors',
 'average_rating',
 'language_code',
 'num_pages',
 'ratings_count',
 'text_reviews_count',
 'publication_date',
 'publisher']

Checking for null values

In [5]:
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

Datatype of each attributes

In [6]:
df.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
language_code          object
num_pages               int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

Dimension - rows x columns

In [7]:
df.shape

(705, 10)

Data info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              705 non-null    int64
 1   title               705 non-null    object
 2   authors             705 non-null    object
 3   average_rating      705 non-null    float64
 4   language_code       705 non-null    object
 5   num_pages           705 non-null    int64
 6   ratings_count       705 non-null    int64
 7   text_reviews_count  705 non-null    int64
 8   publication_date    705 non-null    object
 9   publisher           705 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 55.2+ KB

Numerical data description

In [9]:
df.describe()

,bookID,average_rating,num_pages,ratings_count,text_reviews_count
count,705.000000,705.000000,705.000000,7.050000e+02,705.000000
mean,353.000000,3.897461,344.144681,3.271937e+04,790.368794
std,203.660256,0.384579,284.029481,2.037979e+05,3190.603595
min,1.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,177.000000,3.740000,200.000000,7.600000e+01,7.000000
50%,353.000000,3.920000,288.000000,6.750000e+02,47.000000
75%,529.000000,4.080000,416.000000,5.239000e+03,253.000000
max,705.000000,4.830000,3400.000000,2.418736e+06,36325.000000

Categorical data description

In [10]:
categorical=df.dtypes[df.dtypes=='object'].index
df[categorical].describe()

,title,authors,language_code,publication_date,publisher
count,705,705,705,705,705
unique,705,509,10,508,379
top,Ruby Ann's Down Home Trailer Park Cookbook,Paul Auster,eng,12-01-2004,Penguin Books
freq,1,10,547,7,25